- if @direct_messages
  - @direct_messages.each do |message|
    .row.message{ data: { id: message.id } }
      - sender = message.sender
      .span1.profile
        =image_tag sender.profile_image_url
      .span9
        .row
          %b #{sender.name}
          %span.sender-handle @#{sender.screen_name}
          %span.grey #{time_ago_in_words message.created_at} ago
        .row
          .message-body
            #{message.text}
      .span2.buttons
        %button.btn.btn-success Approve
        %button.btn.btn-danger Reject
  .modal.hide.fade.in#moo
    .modal-header
      %h3 Share with your followers
    .modal-body
      = text_area_tag(:tweet)
      #count
    .modal-footer
      %a.btn{ data: { dismiss: 'modal'} }
        Close
      %a.btn.btn-primary
        Tweet