%header
  %span.user_menu
    - if current_user
      Hi, #{current_user.name}
      = link_to "Sign out", signout_path
    - else
      = link_to "Sign in with Twitter", '/auth/twitter'

- if @direct_messages
  %section
    %ul
      - @direct_messages.each do |message|
        %li
          %span #{message.text} @#{message.sender.name}
          %span.timestamp #{message.created_at}